body{
    font-family: fantasy;
    margin-left: 30%;
    width:110%;
    background-image: url(images/high-priestess.jpg);
    background-size: cover;
}
h1{
    font-size: 50px;
    color:ghostwhite;
    padding: 50px;
    text-align: left;
    margin-left: 5%;
}
img{
    margin-left: 5%;
}
p{
    font-family: fantasy;
    color: wheat;
   margin-left 10%: 
    
    
    
    
}



