body{
    font-family:fantasy;
    margin-left: 30%;
    width:110%;
    align-content: center;
    background-image: url(images/psychic-2.jpg);
    background-size: cover;
}
h1{

    font-size: 50px;
    color:ghostwhite;
    padding: 50px;
}
P{
   
    font-size: 0.5em;
    color: ghostwhite;
    border-bottom: 2em;
}
