body{
    font-family: fantasy;
    margin-left: 35%;
    width:110%;
    background-image: url(images/psychic-2.jpg);
    background-size: cover;
}
h1{
    font-size: 50px;
    color:ghostwhite;
    padding: 45px;
    
}






